@page
@model azure_app_timall.Pages.DeploymentSlotModel
@{
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots feature for staging</h1>
    <a href="https://www.udemy.com/course/microsoft-azure-for-net-developers/learn/lecture/36755610#overview">Course</a>
</div>